.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: fantasy;
  font-weight: bold;
  margin: 7px;
}

table {
  width: 100%;
}

.bot {
  background-color: cornflowerblue;
  margin-top: 5px;
  padding-top: 1px;
  padding-bottom: 20px;
}
